.level-scene {
  background: url("../assets/images/GEM_Start.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level-title {
  font-size: 42px;
  color: #fff;
}

.level-list {
  display: table-column;
  gap: 32px;
  justify-content: center;
}

.level-btn {
  all: unset;
  font-size: 36px;
  font-weight: 800;
  color: #4caf50;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 110px;
  width: 285px;
  border-radius: 38px;
  margin-top: 30px;

  background-color: rgba(166, 226, 245, 0.634);

  text-shadow:
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;

  cursor: pointer;
}

.level-btn:hover {
  transform: translateY(-4px) scale(1.05);
}

.level-btn:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #388e3c;
}

/* .level-1 {
  background: url("../assets/images/levels/level1bg.jpg") center / contain no-repeat;
}

.level-2 {
  background: url("../assets/images/levels/level2bg.jpg") center / contain no-repeat;
}

.level-3 {
  background: url("../assets/images/levels/level3bg.jpg") center / contain no-repeat;
}

.level-4 {
  background: url("../assets/images/levels/level4bg.jpg") center / contain no-repeat;
} */

.back-btn {
  margin-top: 40px;
  padding: 25px 120px;
  font-family: "Comic Sans MS", "Arial Rounded MT Bold", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  background: #763c21;
  color: #b0b0b0;
  text-shadow:
    1px 1px 0 #5e5e5e,
    -1px -1px 0 #d6d6d6;
}

.back-btn:hover {
  transform: translateY(-4px) scale(1.05);
}
