.loading-scene {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  background: transparent;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  transform: scale(2);
}

.loading-bar {
  width: 300px;
  height: 14px;
  background: #444;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
}

.loading-fill {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  transition: width 0.3s ease;
  position: relative;
}

.loading-sprite {
  position: absolute;
  top: -33px;
  right: -20px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bounce 1s infinite;
  pointer-events: none;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.error-popup {
  background-color: transparent;
  border-radius: 20px;
  min-width: 300px;
  height: 100px;
  font-size: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-popup button {
  margin-top: 150px;
  padding: 20px;
  border-radius: 14px;
  border: none;
  background: #ff9800;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}
