* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", "Arial Rounded MT Bold", Arial, sans-serif;
  background: #000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* ❗ CHẶN CUỘN TOÀN BỘ */
  touch-action: none;
}


/* =========================
   RESPONSIVE - TABLET
========================= */
@media (max-width: 900px) {
  .quiz-scene {
    width: 900;   /* kích thước thiết kế gốc */
    height: 430px;
    transform: scale(
      min(
        100vw / 1280,
        100vh / 720
      )
    );
    transform-origin: center;
  }
}

/* =========================
   RESPONSIVE - MOBILE
========================= */
@media (max-width: 600px) {
  .quiz-top {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .quiz-question h2 {
    font-size: 22px;
  }

  .quiz-answers {
    grid-template-columns: 1fr;
  }

  .quiz-answers button {
    font-size: 16px;
    padding: 14px 6px;
  }

  .timer-bar {
    width: 100px;
  }
}

/* =========================
   RESPONSIVE - SMALL MOBILE
========================= */
@media (max-width: 360px) {
  .quiz-question h2 {
    font-size: 20px;
  }

  .level {
    font-size: 16px;
  }

  .timer-bar {
    width: 90px;
  }
}