.mascot {
  width: 340px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mascot img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}
