.mascot {
  width: 320px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mascot img {
  max-width: 125%;
  max-height: 125%;
  image-rendering: pixelated;
}

